{% extends 'base.html.twig' %}

{% block title %}Hello Exo6Controller!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    {% if operateur == 'add' %}
    <p>Le resultat de {{nbr1}} + {{nbr2}} est egal à {{nbr1 + nbr2}} </p>
    {% elseif operateur == 'sub' %}
    <p>Le resultat de {{nbr1}} - {{nbr2}} est egal à {{nbr1 - nbr2}} </p>
    {% elseif operateur == 'multi' %}
    <p>Le resultat de {{nbr1}} x {{nbr2}} est egal à {{nbr1 * nbr2}} </p>
    {% elseif operateur == 'div' %}
        {% if nbr2 != 0 %}
        <p>Le resultat de {{nbr1}} / {{nbr2}} est egal à {{nbr1 / nbr2}} </p>
        {% elseif nbr2 == 0 %}
        <p>Division par zéro impossible </p>
        {% endif %}
   {% else %}
   <p>coucou</p>
   {% endif %}
</div>
{% endblock %}
